.plus{ background:url("plus.png") top left no-repeat; }
._1465221335114_r2_c3{ width:16px; height:16px; background-position:-10px -10px; }
._1465221335114_r1_c2{ width:134px; height:7px; background-position:-10px -36px; }

